<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Template</title>
</head>

<body>
    <div class="main">
        <div class="gray">
            <div class="container">
                <h1>Product name</h1>
                <ul class="list">
                    <li>Put on this page information about your product</li>
                    <li>A detailed description of your product</li>
                    <li>Tell us about the advantages and merits</li>
                    <li>Associate the page with the payment system</li>
                </ul>
            </div>
            <div class="white">1</div>
        </div>
        <div class="about_your_product">
            <div class="container">
                <div class="about">
                    <h2>About your product</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at. Natus eos,
                        eligendi illum rerum omnis porro ex, magni, explicabo veniam incidunt in quam sapiente ut ipsum.
                    </p>
                    <p>Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem ullam
                        quos
                        aut
                        nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis
                        dolor.
                    </p>
                </div>
            </div>
            <div class="gray_1">1</div>
        </div>
        <div class="dignity">
            <h2>Dignity and pluses product</h2>
            <div class="container_plus">
                <ul class="plus_one">
                    <li>Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure
                        placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime,
                        quaerat porro totam, dolore minus inventore.</li>
                    <li>Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure
                        placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime,
                        quaerat porro totam, dolore minus inventore.</li>
                    <li>Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure
                        placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime,
                        quaerat porro totam, dolore minus inventore.</li>

                </ul>
                <ul class="plus_two">
                    <li>Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure
                        placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime,
                        quaerat porro totam, dolore minus inventore.</li>
                    <li>Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure
                        placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime,
                        quaerat porro totam, dolore minus inventore.</li>
                    <li>Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure
                        placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime,
                        quaerat porro totam, dolore minus inventore.</li>
                </ul>
            </div>

        </div>
        <div class="scrinshots">
            <h2>Scrinshots</h2>
            <div class="description_for_the">
                <div class="description">
                    <div class="square">1</div>
                    <div class="description_for">
                        <h3>The description for the image</h3>
                        <p>Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem
                            ullam
                            quosaut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis
                            nemo
                            debitisdolor.</p>
                    </div>

                </div>
                <div class="description">
                    <div class="square">1</div>
                    <div class="description_for">
                        <h3>The description for the image</h3>
                        <p>Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem
                            ullam
                            quosaut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis
                            nemo
                            debitisdolor.</p>
                    </div>
                </div>
            </div>
            <div class="description_for_the">
                <div class="description">
                    <div class="square">1</div>
                    <div class="description_for">
                        <h3>The description for the image</h3>
                        <p>Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem
                            ullam
                            quosaut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis
                            nemo
                            debitisdolor.</p>
                    </div>

                </div>
                <div class="description">
                    <div class="square">1</div>
                    <div class="description_for">
                        <h3>The description for the image</h3>
                        <p>Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem
                            ullam
                            quosaut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis
                            nemo
                            debitisdolor.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews">
            <h2>Reviews</h2>
            <div class="main_discribe">
                <div class="circle">1</div>
                <div class="discribe">
                    <p>Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio, iste quia
                        doloribus
                        autem aperiam nulla ea neque reprehenderit. Libero doloribus, possimus officiis sapiente
                        necessitatibus commodi consectetur?</p>
                    <p class="sign">Lourens S.</p>
                </div>
                <div class="circle">1</div>
                <div class="discribe">
                    <p>Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio, iste quia
                        doloribus
                        autem aperiam nulla ea neque reprehenderit. Libero doloribus, possimus officiis sapiente
                        necessitatibus commodi consectetur?</p>
                    <p class="sign">Lourens S.</p>
                </div>
            </div>
            <div class="main_discribe_one">
                <div class="circle">1</div>
                <div class="discribe">
                    <p>Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio, iste quia
                        doloribus
                        autem aperiam nulla ea neque reprehenderit. Libero doloribus, possimus officiis sapiente
                        necessitatibus commodi consectetur?</p>
                    <p class="sign">Lourens S.</p>
                </div>
                <div class="circle">1</div>
                <div class="discribe">
                    <p>Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio, iste quia
                        doloribus
                        autem aperiam nulla ea neque reprehenderit. Libero doloribus, possimus officiis sapiente
                        necessitatibus commodi consectetur?</p>
                    <p class="sign">Lourens S.</p>
                </div>
            </div>
        </div>
        <div class="buy">
            <h2>Buy it now</h2>
            <div class="main_money">
                <div class="tarif">
                    <h2>Standart</h2>
                    <div class="money">
                        $100
                    </div>
                    <ol>
                        <li>Porro officia cumque sint deleniti;</li>
                        <li>Тemo facere rem vitae odit;
                        </li>
                        <li>Cum odio, iste quia doloribus autem;</li>
                        <li>Aperiam nulla ea neque.</li>

                    </ol>
                    <input class="button" type="button" value="buy">
                </div>
                <div class="tarif">
                    <h2>Premium</h2>
                    <div class="money">
                        $150
                    </div>
                    <ol>
                        <li>Porro officia cumque sint deleniti;</li>
                        <li>Тemo facere rem vitae odit;
                        </li>
                        <li>Cum odio, iste quia doloribus autem;</li>
                        <li>Aperiam nulla ea neque.</li>
                        <li>Porro officia cumque sint deleniti;</li>
                        <li>Тemo facere rem vitae odit;</li>
                        <li>Cum odio, iste quia doloribus autem;</li>
                        <li>Aperiam nulla ea neque.</li>
                    </ol>
                    <input class="button" type="button" value="buy">
                </div>
                <div class="tarif">
                    <h2>Lux</h2>
                    <div class="money">
                        $200
                    </div>
                    <ol>
                        <li>Porro officia cumque sint deleniti;</li>
                        <li>Тemo facere rem vitae odit;
                        </li>
                        <li>Cum odio, iste quia doloribus autem;</li>
                        <li>Aperiam nulla ea neque.</li>
                        <li>Porro officia cumque sint deleniti;</li>
                        <li>Тemo facere rem vitae odit;</li>
                        <li>Cum odio, iste quia doloribus autem; </li>
                        <li>Aperiam nulla ea neque.</li>
                        <li>Porro officia cumque sint deleniti;</li>
                        <li>Тemo facere rem vitae odit;</li>
                        <li>Cum odio, iste quia doloribus autem;</li>
                        <li>Aperiam nulla ea neque.</li>
                    </ol>
                    <input class="button" type="button" value="buy">
                </div>
            </div>
        </div>
        <div class="contacts">
            <h2>Contacts</h2>
            <div class="fname">
                <form action="contact_form" action="#" method="POST">
                    <div class="fname_inner">
                        <input type="text" class="finput" name="name" placeholder="Your Name:">
                        <input type="text" class="finput" name="email" placeholder="Your Email:">
                        <textarea class="message_inner" placeholder="Your Message:"></textarea>
                        <button class="button" type="submit"> SEND </button>
                </form>
            </div>
            <div class="networks">
                <ul>
                    <li class="icons"><i class="fab fa-skype"></i> <a class="network_inner"
                            href="#">here_your_login_skype</a></li>
                    <li class="icons"><i class="fab fa-hire-a-helper"></i> <a class="network_inner"
                            href="#">279679659</a></li>
                    <li class="icons"><i class="fas fa-at"></i> <a class="network_inner" href="#">psdhtmlcss@mail.ru</a>
                    </li>
                    <li class="icons"><i class="fas fa-phone-alt"></i> <a class="network_inner" href="#">80 00 4568 55
                            55</a></li>
                </ul>
                <div class="popular_network">
                    <a class="popular" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="popular" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="popular" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="popular" href="#"><i class="fab fa-google"></i></a>
                    <a class="popular" href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright_inner">Copyright © 2014 Product name · PSD HTML CSS</div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/b877297529.js" crossorigin="anonymous"></script>

</body>

</html>